body {
  padding-top: 50px;

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
	background-image: url(me4.jpg);
	background-position:right top; 
	background-size:60px 00px;
	background-repeat:no-repeat;
	height: 390px;
}

#banner {
	color:#FFF;
	text-align: center;
	background-color:#FFF;
	margin:0;
	font-family: Georgia;
	
	background-image: url('me4.jpg');
	background-position:center top; 
	background-size:800px 500px;
	background-repeat:no-repeat;
	height:500px;
	

}

#sidebar {
	background-color:#EEE;
	border: 5px solid #E5E5E5;
}

#sidebar h3, #sidebar p {
	padding:0 10px;
}

#closeChatbot {
    cursor: pointer;
    background-color: #2b6e9b; /* Red background for visibility */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 15px; /* Rectangular shape small round corners */
    font-size: 14px; /* Readable text size */
    padding: 5px 5px; /* Padding to make the button larger */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Shadow for a subtle 3D effect */
    text-align: center; /* Center the text */
    z-index: 1001; /* Ensure it's above other elements */
    position: fixed; /* Fixed position */
    bottom: 520px; /* Positioning relative to the iframe */
    right: 20px; /* Positioning relative to the iframe */
}

#closeChatbot:hover {
    background-color: #cc0000; /* Darker shade when hovered */
}


.signature {
 font-size:               12px;
 font-weight:              bold;
 font-family:             "courier new", courier, "mono" ;
 color:                   #e0b2bf;
 margin:                  0px 0px 10px 10px;
 text-align:		  center;	
}
